<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Mage_Api_Model_Server_V2_HandlerBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://komedia.be/index.php/api/v2_soap/index/?wsdl%2F_vti_bin%2FListData_svc%2F%24metadata="
                binding="basicHttpBinding" bindingConfiguration="Mage_Api_Model_Server_V2_HandlerBinding"
                contract="ServiceReferenceMagento.Mage_Api_Model_Server_V2_HandlerPortType"
                name="Mage_Api_Model_Server_V2_HandlerPort" />
        </client>
    </system.serviceModel>
</configuration>